<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= '🌟' * @restaurant.rating %></p>

<%= link_to "Delete #{@restaurant.name}",
            restaurant_path(@restaurant),
            # you need to specify the method if it is not a GET request
            method: :delete,
            data: { confirm: "Are you sure?" } %>
